---
layout: default
title: Archive
---

<section class="archive my-3 my-sm-5">
{% for post in site.posts %}
  {% unless post.next %}
  <h2 class="sticky top-0 z-20 pt-2 mb-3 border-b" id="{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</h2>
  <ul class="list-unstyled">
  {% else %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
  {% if year != nyear %}
  </ul>
  <h2 class="sticky top-0 z-20 pt-2 mb-3 border-b md:mt-6" id="{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</h2>
  <ul class="list-unstyled">
  {% endif %}
  {% endunless %}
    <li class="mb-2 relative">
      <time datetime="{{ post.date | date: '%FT%T' }}">{{ post.date | date:"%d %b" }}</time>
      <a class="ml-2 stretched-link" href="{{ post.url }}">{{ post.title }}</a>
      {% if post.excerpt %}
        <div class="excerpt">{{ post.excerpt | strip_html }}</div>
      {% endif %}
    </li>
{% endfor %}
  </ul>
</section>
