---
layout: default
title: Home
---

{% for post in paginator.posts %}
<article class="post my-3 my-sm-5 pb-3">
  <header class="post-header mb-3">
    <h2 class="post-title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>
    <span class="post-date">{{ post.date | date_to_string }}</span>
  </header>
  <div class="post-content">
    {{ post.content }}
  </div>
</article>
{% endfor %}

<nav class="nav nav-pagination justify-content-between">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="nav-link newer" href="/">Newer</a>
    {% else %}
      <a class="nav-link newer" href="/page{{paginator.previous_page}}/">Newer</a>
    {% endif %}
  {% else %}
    <span class="nav-link newer disabled">Newer</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="nav-link older" href="/page{{paginator.next_page}}/">Older</a>
  {% else %}
    <span class="nav-link older disabled">Older</span>
  {% endif %}
</nav>
