/*
 * Lanyon Inverted Style
 * This stylesheet contains complete color overrides for Poole and Lanyon.
 *
 * Monochromatic colors have been inverted, other colors have been inverted,
 * then hue-shifted 180 degrees in order to keep their original hues with the
 * inverse luminosity.
 *
 * Compiled by Alan Hardman <alan@phpizza.com>
 */

/*
 *                        ___
 *                       /\_ \
 *  _____     ___     ___\//\ \      __
 * /\ '__`\  / __`\  / __`\\ \ \   /'__`\
 * \ \ \_\ \/\ \_\ \/\ \_\ \\_\ \_/\  __/
 *  \ \ ,__/\ \____/\ \____//\____\ \____\
 *   \ \ \/  \/___/  \/___/ \/____/\/____/
 *    \ \_\
 *     \/_/
 *
 *    Except darkened up a bit
 */

/*
 * Body resets
 */
body {
	color: #eaeaea;
	background-color: #000;
}
a {
	color: #2d92d9;
}
strong {
	color: #cfcfcf;
}

/* Misc */
hr {
	border-top-color: #eee;
	border-bottom-color: #000;
}
abbr {
	color: #aaa;
}
abbr[title] {
	border-bottom-color: #1a1a1a;
}

/* Code */
code {
	color: #9e4049;
	background-color: #060606;
}
pre {
	background-color: #060606;
}

/* Quotes */
blockquote {
	color: #858585;
	border-left-color: #1a1a1a;
}

/* Tables */
table, td, th {
	border-color: #1a1a1a;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
	background-color: #060606;
}

/*
 * Messages
 */
.message {
	color: #8e8e8e;
	background-color: #060606;
}

/*
 * Masthead
 */
.masthead-title,
.masthead-title a,
.masthead-title small {
	color: #afafaf;
}

/*
 * Posts and pages
 */

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
	color: #cfcfcf;
}
/* Meta data line below post title */
.post-date {
	color: #656565;
}

/* Related posts */
.related {
	border-top-color: #111;
}
.related-posts li small {
	color: #666;
}
.related-posts li a:hover {
	color: #2d92d9;
}

/*
 * Pagination
 */
.pagination {
	color: #333;
}

/* Pagination items can be `span`s or `a`s */
.pagination-item {
	border-color: #111;
}

/* Only provide a hover state for linked pagination items */
a.pagination-item:hover {
	background-color: #0a0a0a;
}

/*
 *  ___
 * /\_ \
 * \//\ \      __      ___   __  __    ___     ___
 *   \ \ \   /'__`\  /' _ `\/\ \/\ \  / __`\ /' _ `\
 *    \_\ \_/\ \_\.\_/\ \/\ \ \ \_\ \/\ \_\ \/\ \/\ \
 *    /\____\ \__/.\_\ \_\ \_\/`____ \ \____/\ \_\ \_\
 *    \/____/\/__/\/_/\/_/\/_/`/___/> \/___/  \/_/\/_/
 *                               /\___/
 *                               \/__/
 *
 *    Darkened up a bit more over here.
 */

/*
 * Global resets
 */
h1, h2, h3, h4, h5, h6 {
	color: #cecece;
}

/*
 * Masthead
 */
.masthead {
	border-color: #111;
}
.masthead-title,
.masthead-title a {
	color: #afafaf;
}
.masthead-title small {
	color: #3f3f3f;
}

/*
 * Sidebar
 */

/* Style the sidebar */
.sidebar {
	color: rgba(0,0,0,.6);
	background-color: #dfdfdf;
}

/* Sidebar content */
.sidebar a {
	color: #000;
}

/* Sidebar nav */
.sidebar-nav,
.sidebar-nav-item {
	border-color: rgba(0,0,0,.1);
}
.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
	background-color: rgba(0,0,0,.1);
}

/* Style the `label` that we use to target the `.sidebar-checkbox` */
.sidebar-toggle {
	color: #afafaf;
	background-color: #000;
}
.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .sidebar-toggle {
	color: #000;
	background-color: #afafaf;
}

/*
 * Posts and pages
 */

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
	color: #cfcfcf;
}

/* Meta data line below post title */
.post-date {
	color: #656565;
}

/* Related Posts */
.related {
	border-color: #111;
}
.related-posts li small {
	color: #666;
}
.related-posts li a:hover {
	color: #2d92d9;
}

/*
 * Pagination
 */
.pagination {
	color: #333;
}

/* Only provide a hover state for linked pagination items */
a.pagination-item:hover {
	background-color: #0A0A0A;
}

/*
 * Themes are currently not being overridden
 */

/*
 * Overlay sidebar
 */
.sidebar-overlay #sidebar-checkbox:checked ~ .sidebar-toggle {
	box-shadow: 0 0 0 .25rem #000;
}
.sidebar-overlay #sidebar-checkbox:checked ~ .sidebar {
	box-shadow: .25rem 0 .5rem rgba(255,255,255,.1);
}

/* Only one tweak for a reverse layout */
.layout-reverse.sidebar-overlay #sidebar-checkbox:checked ~ .sidebar {
	box-shadow: -.25rem 0 .5rem rgba(255,255,255,.1);
}
