---
---
@import 'normalize';
@import 'mixins';

/* Variables */
// Colors
$body-bg: #131116;
$body-fg: #D3D0D6;
$brand-color: #8764B8;
$link-color: lighten($brand-color, 10%);
$link-color-active: lighten($link-color, 15%);
$code-fg: #DFDBE4;
$code-bg: #2C2734;
$header-bg: $brand-color;
$header-fg: #fff;
$header-active-bg: #fff;
$header-active-fg: #000;

$font-sans: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// Main layout
body {
  margin: 0;
  display: grid;
  grid-template-columns: unquote("[full-start] minmax(1em, 1fr) [main-start] minmax(0, 40em) [main-end] minmax(1em, 1fr) [full-end]");
  background-color: $body-bg;
}

// Base Style
html {
  font-family: $font-sans;
  line-height: 1.5;
  color: $body-fg;
}
h1,
h2 {
  font-weight: 300;
}
pre,
code {
  font-family: $font-mono;
  font-size: .9em;
}

// Header
.site-header {
  display: inherit;
  grid-column: full;
  grid-template-columns: inherit;
  padding-top: .5em;
  padding-bottom: .5em;
  text-align: center;
  color: $header-fg;
  background-color: $header-bg;
  .container {
    grid-column: main;
  }
  h1 {
    font-size: 1.25em;
    display: inline-block;
    margin: 0;
    padding-right: .25em;
    a {
      color: inherit;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
        text-decoration-skip: ink;
      }
    }
  }
  small {
    display: inline-block;
  }

  @media (min-width: 70em) {
    text-align: left;
    padding-top: 1em;
    padding-bottom: 1em;
    h1 {
      font-size: 2em;
    }
    h1,
    small {
      display: block;
    }
  }
}

// Navbar
.site-nav {
  display: flex;
  padding-top: 1em;
  width: 100%;
  a {
    flex: 1;
    padding: .3rem 0;
    margin-right: .5em;
    color: inherit;
    text-decoration: none;
    border-radius: .25rem;
    border: 1px solid transparent;
    &.active {
      background-color: $header-active-bg;
      color: $header-active-fg;
    }
    &:hover,
    &:focus {
      border: 1px solid $header-active-bg;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke: $header-fg;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    fill: none;
    vertical-align: middle;
  }
  .active svg {
    stroke: $header-active-fg;
  }

  @media (min-width: 40em) {
    margin-top: 2em;
    a {
      flex: none;
      padding: .3rem .7rem;
    }
    svg {
      display: none;
    }
  }

  @media (max-width: 40em) {
    span {
      @include sr-only;
    }
  }
}

// Post layout
.post {
  padding-top: 2em;
  padding-bottom: 2em;
  display: inherit;
  grid-column: full;
  grid-template-columns: inherit;

  @media (min-width: 70em) {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}

// Post header
.post-header {
  grid-column: main;
  margin-bottom: 2em;

  @media (min-width: 70em) {
    grid-column: full-start / main-start;
    text-align: right;
    margin-right: 2em;
  }
}
.post-title {
  margin-top: 0;
  margin-bottom: .5em;
  a {
    color: inherit;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
      text-decoration-skip: ink;
    }
  }
}

// Post content
.post-content {
  grid-column: main;
  & > :first-child {
    margin-top: 0;
  }
  h1, h2, h3, h4 {
    font-weight: 400;
  }
  a {
    text-decoration-skip: ink;
    color: $link-color;
    &:hover, &:focus {
      color: $link-color-active;
    }
  }
  img {
    max-width: 100%;
    height: auto;
    border-radius: .25em;
  }
  div.highlighter-rouge {
    padding: .5em 1em;
    margin-bottom: 1em;
    color: #DFDBE4;
    background-color: #2C2734;
    border-radius: .25em;
    overflow-x: auto;
    & > pre {
      margin: 0;
      line-height: 1.12;
      white-space: pre;
    }
  }
  hr {
    height: 1px;
    border: none;
    background-color: rgba(mix($body-bg, $body-fg, 50%), 0.5);
  }
}

// Pagination
.pagination {
  @include clearfix;
  grid-column: main;
  color: $body-fg;
  margin-bottom: 2em;
  @media (min-width: 70em) {
    margin-bottom: 4em;
  }
  > a {
    color: $link-color;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $link-color-active;
    }
  }
  > span {
    opacity: 0.6;
  }
  .older {
    float: left;
    &:before {
      content: '\2039';
      padding-right: .5em;
    }
  }
  .newer {
    float: right;
    &:after {
      content: '\203a';
      padding-left: .5em;
    }
  }
}

// Archive
.archive {
  grid-column: main;
  color: $body-fg;
  margin-bottom: 4em;
  .year {
    list-style: none;
    padding-left: 0;
    @media (max-width: 70em) {
      padding: 0 1em;
    }
    li {
      position: relative;
      a {
        position: absolute;
        left: 4rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $link-color;
        &:hover,
        &:focus {
          color: $link-color-active;
        }
      }
    }
  }
  .excerpt {
    margin-left: 4rem;
    font-size: .75rem;
    @media (max-width: 70em) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  h2 {
    @media (max-width: 70em) {
      margin: 0 1em;
    }
  }
}

// Utilities
.sr-only {
  @include sr-only;
}

.img-responsive-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 62.5%;
  > p {
    margin: 0;
  }
  & + & {
    margin-top: 1em;
  }
}
.img-ratio-16-9 {
  padding-bottom: 56.25%;
}
.img-ratio-16-10 {
  padding-bottom: 62.5%;
}
.img-ratio-4-3 {
  padding-bottom: 75%;
}
.img-ratio-1-1 {
  padding-bottom: 100%;
}

.profile-pic {
  min-height: 230px; // Image-specific, avoids reflow
  display: block;
  margin: 0 auto 15px;
}

// Syntax highlighting
@import 'syntax-github-dark';
