---
---

@import 'normalize';

/* Variables */
// Colors
$body-bg: #fff;
$body-fg: #5A6E65;
$post-bg: #f5f5f5;
$link-color: #0087cb;
$heading-fg: #04202a;

$spacer: 15px;

// Responsive breakpoints
$desktop-min: 768px;
$desktop-max: 767px;

/* Layout */
.container {
  max-width: $desktop-min;
  margin: 0 auto;
}

/* Base Style */
html {
  font: 16px/1.618 'Roboto', 'Droid Sans', sans-serif;
  @media only screen and (max-width: $desktop-max) {
    font-size: 15px;
  }
}

body {
  background-color: $body-bg;
  color: $body-fg;
}

.site-header {
  text-align: center;
  color: $heading-fg;
  background-image: url(https://blog.phpizza.com/assets/ui/header-bg.jpg);
  background-position: center center;
  background-size: cover;
  padding: ($spacer / 3) 0;
  margin-bottom: $spacer;
  h3 {
    margin: 10px 0;
    font-weight: 300;
  }
  a {
    color: $heading-fg;
    text-decoration: none;
  }
  small {
    color: $body-fg;
    font-size: 18px;
  }
  @media only screen and (min-width: $desktop-min + ($spacer * 2)) {
    background-position: right center;
    padding: $spacer * 2 0;
    margin-bottom: $spacer * 2;
    text-align: left;
    h3 {
      font-size: 32px;
    }
    small {
      font-size: 18px;
    }
  }
}


/* Content */
.content {
  h1, h2, h3, h4 {
    color: $heading-fg;
    font-weight: 300;
  }
  a {
    color: $link-color;
  }
  hr {
    height: 1px;
    border: none;
    background-color: $body-fg;
  }
}

pre, p > code {
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  font-size: 14px;
  font-family: Menlo, Meslo, Monaco, "Courier New", monospace;
}
pre {
  padding: 7px 10px;
  line-height: 1.12;
  white-space: pre-wrap;
  overflow-x: auto;
}
p > code {
  padding: 1px 4px;
}

img {
  max-width: 100%;
  height: auto;
}


/* Posts */
.post, .page {
  margin-bottom: $spacer * 4;
  @media only screen and (max-width: $desktop-max + ($spacer * 2)) {
    margin-bottom: $spacer * 2;
    padding: 15px;
  }
  + .post {
    padding-top: $spacer * 4;
    border-top: 1px solid #d6d6d6;
    @media only screen and (max-width: $desktop-max + ($spacer * 2)) {
      padding-top: $spacer * 2;
    }
  }
}

.post-header {
  margin-bottom: $spacer * 2;
}
.post-title {
  font-size: $spacer * 2;
  line-height: 1;
  font-weight: normal;
  margin: 0 0 15px;
  color: $heading-fg;
  a {
    color: inherit;
    text-decoration: none;
    &:hover, &:focus {
      color: $link-color;
    }
  }
  @media only screen and (min-width: $desktop-min) {
    font-size: 48px;
  }
}

.pagination {
  color: $body-fg;
  margin-bottom: $spacer * 4;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  > a {
    text-decoration: none;
  }
  > span {
    opacity: 0.6;
  }
  .older {
    float: left;
    &:before {
      content: '\2039';
      padding-right: .5em;
    }
  }
  .newer {
    float: right;
    &:after {
      content: '\203a';
      padding-left: .5em;
    }
  }
}

/* Navigation */
.chk-nav-toggle {
  position: absolute;
  visibility: hidden;
  &:checked + .nav-toggle {
    background-color: #e5e5e5;
    opacity: 1;
  }
}
.nav-toggle {
  position: absolute;
  top: 10px;
  left: 10px;

  display: block;
  width: 22px;
  height: 22px;
  padding: 5px;

  font-size: 18px;
  line-height: 22px;
  color: $heading-fg;
  text-align: center;

  background-color: rgba(#e5e5e5, 0.5);
  border-radius: 5px;
  opacity: 0.65;
  cursor: pointer;

  z-index: 999;

  &:before {
    content: '\22ee';
  }
  &:hover, &:focus {
    opacity: 1;
  }
}

.nav-dismiss {
  position: absolute;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity .2s ease, visibility 0s linear .2s;

  z-index: 1000;

  .chk-nav-toggle:checked ~ & {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s ease;
  }
}

.navbar {
  position: absolute;
  top: 47px;
  left: 10px;

  max-height: 85vh;
  overflow-y: auto;

  font-size: 14px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  opacity: 0;
  visibility: hidden;
  transform: scale(0.95) translate(-3px, -10px);
  transition: opacity .2s ease, transform .2s ease, visibility 0s linear .2s;

  z-index: 1001;

  p {
    margin: 0;
    margin-bottom: 15px;
    padding: 0 15px;
  }
  .navbar-title {
    margin: 10px 0 0;
    b {
      font-weight: normal;
      color: $heading-fg;
    }
  }
  .chk-nav-toggle:checked ~ & {
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: opacity .2s ease, transform .2s ease;
  }
}
.navbar-nav {
  margin-bottom: 15px;
  a {
    display: block;
    padding: 5px 15px;
    line-height: 24px;
    color: inherit;
    text-decoration: none;
    &:hover, &:focus {
      background-color: lighten($body-fg, 50%);
    }
    &.active {
      background-color: $heading-fg;
      color: #fff;
    }
  }
}

@media only screen and (min-width: $desktop-min) {
  .nav-toggle, .navbar {
    position: fixed;
  }
}


/* Archive */
.archive {
  color: $body-fg;
  margin-bottom: $spacer * 4;

  .year {
    list-style: none;
    padding-left: 0;
    li {
      position: relative;
      a {
        position: absolute;
        left: 60px;
        right: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  h2 {
    @media only screen and (max-width: $desktop-max) {
      margin: 0 $spacer * 2;
    }
  }

}

/* Utilities */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.page-about {
  margin-top: 150px;
  padding-top: 1px;
  > p:first-child {
    margin-top: 0;
    @media only screen and (min-width: $desktop-min + ($spacer * 2)) {
      margin-top: -245px;
    }
  }
}

.profile-pic {
  display: block;
  margin: -135px auto 15px;
  width: 270px;
  height: 270px;
  background-color: $post-bg;
  border-radius: 50%;
  @media only screen and (max-width: $desktop-max + ($spacer * 2)) {
    width: 135px;
    height: 135px;
  }
}

/* Syntax highlighting */
@import 'syntax-github';
