---
---
@import 'normalize';
@import 'mixins';
@import 'slabo';

/* Variables */
// Colors
$body-bg: #fff;
$body-fg: #5a6e65;
$post-bg: #f5f5f5;
$brand-color: #98BC4B;
$brand-color-inv: #000;
$link-color: $brand-color;
$link-color-active: darken($link-color, 5%);
$header-bg: $brand-color;
$header-fg: $brand-color-inv;
$heading-fg: $brand-color;
$heading-bg: $brand-color-inv;
$heading-fg-content: $heading-fg;
$active-bg: #4c5b5e;

$spacer: 15px;

// Responsive breakpoints
$desktop-min: 768px;
$desktop-max: 767px;

/* Layout */
.container {
  max-width: $desktop-min;
  margin: 0 auto;
}

/* Base Style */
html {
  font: 16px/1.618 'Slabo13px', serif;
  @media (max-width: $desktop-max) {
    font-size: 15px;
  }
}

body {
  background-color: $body-bg;
  color: $body-fg;
}

.site-header {
  text-align: center;
  color: $header-fg;
  background-color: $header-bg;
  margin-bottom: $spacer;
  .container {
    position: relative;
    @include clearfix;
    @media (max-width: $desktop-max + ($spacer * 2)) {
      margin-left: $spacer;
      margin-right: $spacer;
    }
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Slabo27px', serif;
    font-weight: 400;
    @media (max-width: $desktop-max + ($spacer * 2)) {
      padding-top: $spacer / 3;
      padding-bottom: $spacer / 3;
    }
    a {
      color: $header-bg;
      background-color: $header-fg;
      padding-left: 5px;
      padding-right: 5px;
      text-decoration: none;
    }
  }
  small {
    color: $header-fg;
    font-size: 18px;
  }
  @media (min-width: $desktop-min + ($spacer * 2)) {
    background-position: right center;
    margin-bottom: $spacer * 2;
    text-align: left;
    h3 {
      float: left;
      margin-left: 0;
      font-size: 32px;
    }
    small {
      font-size: 18px;
    }
  }
}

.navbar {
  @include clearfix;
  display: flex;
  @media (min-width: $desktop-min + ($spacer * 2)) {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  a {
    box-sizing: border-box;
    flex: 1;
    @media (min-width: $desktop-min + ($spacer * 2)) {
      flex: none;
      float: left;
    }
    padding: 5px 15px;
    line-height: $spacer * 2 - 10px;
    color: inherit;
    text-decoration: none;
    &:hover, &:focus {
      color: #000;
    }
    &.active {
      color: #000;
      background-color: #fff;
    }
  }
  span {
    @media (max-width: 479px) {
      @include sr-only;
    }
    @media (min-width: 480px) {
      display: inline;
    }
  }
  svg {
    @media (min-width: 480px) {
      display: none;
    }
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
  }
}


/* Content */
.content {
  h1, h2, h3, h4 {
    color: $heading-fg-content;
    font-family: 'Slabo27px', serif;
    font-weight: 400;
  }
  a {
    color: $link-color;
    &:hover, &:focus {
      color: $link-color-active;
    }
  }
  hr {
    height: 1px;
    border: none;
    background-color: $body-fg;
  }
}

pre, p > code {
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  font-size: 14px;
  font-family: Courier, "Courier New", monospace;
}
pre {
  padding: 7px 10px;
  line-height: 1.12;
  white-space: pre-wrap;
  overflow-x: auto;
}
p > code {
  padding: 1px 4px;
}

img {
  max-width: 100%;
  height: auto;
}


/* Posts */
.post, .page {
  margin-bottom: $spacer * 4;
  @media (max-width: $desktop-max + ($spacer * 2)) {
    margin-bottom: $spacer * 2;
    padding: 0 15px;
  }
  + .post {
    padding-top: $spacer * 4;
    border-top: 1px solid #d6d6d6;
    @media (max-width: $desktop-max + ($spacer * 2)) {
      padding-top: $spacer * 2;
    }
  }
}

.post-header {
  @include clearfix;
  margin-bottom: $spacer * 2;
}
.post-title {
  display: inline-block;
  font-size: $spacer * 2;
  line-height: 1;
  font-weight: normal;
  margin: 0;
  padding: 5px;
  color: $heading-fg;
  background-color: $heading-bg;
  a {
    color: inherit;
    text-decoration: none;
    &:hover, &:focus {
      color: $link-color;
    }
  }
  @media (min-width: $desktop-min) {
    font-size: 36px;
  }
}
.post-date {
  padding: 3px 5px;
  color: $heading-bg;
  background-color: $heading-fg;
}

.pagination {
  color: $body-fg;
  margin-bottom: $spacer * 4;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  > a {
    text-decoration: none;
  }
  > span {
    opacity: 0.6;
  }
  .older {
    float: left;
    &:before {
      content: '\2039';
      padding-right: .5em;
    }
  }
  .newer {
    float: right;
    &:after {
      content: '\203a';
      padding-left: .5em;
    }
  }
}

/* Archive */
.archive {
  color: $body-fg;
  margin-bottom: $spacer * 4;

  .year {
    list-style: none;
    padding-left: 0;
    @media (max-width: $desktop-max) {
      padding: 0 $spacer;
    }
    li {
      position: relative;
      a {
        position: absolute;
        left: 60px;
        right: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .excerpt {
    margin-left: 60px;
    font-size: 12px;
    @media (max-width: $desktop-max) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  h2 {
    @media (max-width: $desktop-max) {
      margin: 0 $spacer;
    }
  }
}

/* Utilities */
.sr-only {
  @include sr-only;
}

.profile-pic {
  display: block;
  margin: 0 auto 15px;
}

/* Syntax highlighting */
@import 'syntax-github';
