/* This is a collection of overrides for the Lanyon theme */

/* Redefine some global values */
html {
  font-size: 14px;
}
@media (min-width: 38em) {
  body {
    font-size: 1.1429em;
  }
}

html, h1, h2, h3, h4, h5, h6, .sidebar {
  font-family: "Noto Sans", "Droid Sans", "Liberation Sans", sans-serif;
}

ul > li > ul {
  margin-bottom: 0;
}

/* Override some responsive changes */
.sidebar {
  font-size: .8rem;
}
@media (min-width: 30em)
  .sidebar {
    font-size: .75rem;
  }
}
.container {
  max-width: 48rem;
}
.sidebar-toggle:before {
  padding-bottom: .15rem;
  border-top-width: .45rem;
  border-bottom-width: .15rem;
}

/* Helper classes */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.profile-pic {
  display: block;
  margin: 0 auto 1em;
  max-width: 270px;
  height: auto;
  background-color: whitesmoke;
  border-radius: 50%;
}

.kittehz {
  position: absolute;
  top: 0;
  right: 0;

  padding: 20px 15px;
  color: #808080;
  letter-spacing: -.025rem;

  cursor: pointer;

  opacity: 0;
}
.kittehz:hover, .kittehz:focus {
  opacity: 0.5;
}
.kitteh {
  position: absolute;
  max-width: 400px;
  height: auto;
}
