<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="stylesheet" href="/public/css/phpizza.css">

  <link rel="manifest" href="/public/manifest.json">
  <link rel="apple-touch-icon" sizes="144x144" href="/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="/public/favicon.ico">
  <meta name="theme-color" content="#8764B8">

  <link rel="author" href="https://plus.google.com/+AlanHardmanIAm"/>

  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
