<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &mdash; {{ site.tagline }}
    {% else %}
      {{ page.title }} &mdash; {{ site.title }}
    {% endif %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <link rel="stylesheet" href="/public/css/theme.css">

  {% if page.collection == "posts" %}
    {% include post-meta.html %}
  {% elsif page.url == '/' %}
    <meta name="description" content="The blog of Alan Hardman, full of nerdiness.">
  {% endif %}

  <link rel="manifest" href="/public/manifest.json">
  <link rel="apple-touch-icon" href="/public/icon.png">
  <link rel="shortcut icon" type="image/png" href="/public/favicon.png">
  <link rel="icon" type="image/png" href="/public/icon.png">

  <link rel="author" href="/about">
  <link rel="alternate" type="application/atom+xml" title="RSS" href="/atom.xml">

  <script src="/public/instantpage.min.js" type="module"></script>
</head>
