<input type="checkbox" class="chk-nav-toggle" id="chk-nav-toggle">
<label for="chk-nav-toggle" class="nav-toggle"></label>
<label for="chk-nav-toggle" class="nav-dismiss"></label>

<div class="navbar">
  <p class="navbar-title"><b>{{ site.author.name }}</b></p>
  <p>{{ site.description }}</p>

  <nav class="navbar-nav">
    <a class="{% if page.url == site.baseurl %}active{% endif %}" href="{{ site.baseurl }}">Home</a>
    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="{% if page.url == node.url %}active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

  <p>Top GitHub Repos</p>
  <nav class="navbar-nav">
    <a href="https://github.com/Alanaktion/phproject">Phproject</a>
    <a href="https://github.com/Alanaktion/MCHostPanel">Minecraft Host Panel</a>
    <a href="https://github.com/Alanaktion/chatbot2">PHP Chat Bot</a>
    <a href="https://github.com/Alanaktion/php-landing">Server Landing Page</a>
  </nav>
</div>
