<nav class="nav nav-pills">
  <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="/">
    Blog
    {% if page.url == '/' %}<span class="sr-only">(current)</span>{% endif %}
  </a>
  <a class="nav-link {% if page.url == '/about/' or page.url == '/about-es/' or page.url == '/about-ja/' %}active{% endif %}" href="/about/">
    About
    {% if page.url == '/about/' or page.url == '/about-es/' or page.url == '/about-ja/' %}<span class="sr-only">(current)</span>{% endif %}
  </a>
  <a class="nav-link {% if page.url == '/archive/' %}active{% endif %}" href="/archive/">
    Archive
    {% if page.url == '/archive/' %}<span class="sr-only">(current)</span>{% endif %}
  </a>
  <a class="nav-link {% if page.url == '/portfolio/' %}active{% endif %}" href="/portfolio/">
    Portfolio
    {% if page.url == '/portfolio/' %}<span class="sr-only">(current)</span>{% endif %}
  </a>
  <a class="nav-link {% if page.url == '/resume/' %}active{% endif %}" href="/resume/">
    Résumé
    {% if page.url == '/resume/' %}<span class="sr-only">(current)</span>{% endif %}
  </a>
</nav>
