@import 'normalize';

/* Variables */
// Colors
$body-bg: #fff;
$body-fg: #5A6E65;
$post-bg: #f5f5f5;
$link-color: #0087cb;
$heading-fg: #04202a;
$active-bg: #4C5B5E;

$spacer: 15px;

// Responsive breakpoints
$desktop-min: 768px;
$desktop-max: 767px;

/* Layout */
.container {
  max-width: $desktop-min;
  margin: 0 auto;
}

/* Base Style */
html {
  font: 16px/1.618 -apple-system, BlinkMacSystemFont, "Segoe UI", "Cantarell", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  @media only screen and (max-width: $desktop-max) {
    font-size: 15px;
  }
}

body {
  background-color: $body-bg;
  color: $body-fg;
}

.site-header {
  text-align: center;
  color: $heading-fg;
  background-image: url(https://blog.phpizza.com/assets/ui/header-bg.jpg);
  background-position: center center;
  background-size: cover;
  padding: ($spacer / 3) 0;
  margin-bottom: $spacer;
  @media only screen and (min-width: $desktop-min) {
    height: 100px;
  }
  h3 {
    margin: 10px 0;
    font-weight: 300;
  }
  a {
    color: $heading-fg;
    text-decoration: none;
  }
  small {
    color: $body-fg;
    font-size: 18px;
  }
  @media only screen and (min-width: $desktop-min + ($spacer * 2)) {
    background-position: right center;
    padding: $spacer * 2 0;
    margin-bottom: $spacer * 2;
    text-align: left;
    h3 {
      font-size: 32px;
    }
    small {
      font-size: 18px;
    }
  }
}


/* Content */
.content {
  h1, h2, h3, h4 {
    color: $heading-fg;
    font-weight: 300;
  }
  a {
    color: $link-color;
  }
  hr {
    height: 1px;
    border: none;
    background-color: $body-fg;
  }
}

pre, p > code {
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  font-size: 14px;
  font-family: Menlo, Meslo, Monaco, "Courier New", monospace;
}
pre {
  padding: 7px 10px;
  line-height: 1.12;
  white-space: pre-wrap;
  overflow-x: auto;
}
p > code {
  padding: 1px 4px;
}

img {
  max-width: 100%;
  height: auto;
}


/* Posts */
.post, .page {
  margin-bottom: $spacer * 4;
  @media only screen and (max-width: $desktop-max + ($spacer * 2)) {
    margin-bottom: $spacer * 2;
    padding: 15px;
  }
  + .post {
    padding-top: $spacer * 4;
    border-top: 1px solid #d6d6d6;
    @media only screen and (max-width: $desktop-max + ($spacer * 2)) {
      padding-top: $spacer * 2;
    }
  }
}

.post-header {
  margin-bottom: $spacer * 2;
}
.post-title {
  font-size: $spacer * 2;
  line-height: 1;
  font-weight: normal;
  margin: 0 0 15px;
  color: $heading-fg;
  a {
    color: inherit;
    text-decoration: none;
    &:hover, &:focus {
      color: $link-color;
    }
  }
  @media only screen and (min-width: $desktop-min) {
    font-size: 36px;
  }
}

.pagination {
  color: $body-fg;
  margin-bottom: $spacer * 4;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  > a {
    text-decoration: none;
  }
  > span {
    opacity: 0.6;
  }
  .older {
    float: left;
    &:before {
      content: '\2039';
      padding-right: .5em;
    }
  }
  .newer {
    float: right;
    &:after {
      content: '\203a';
      padding-left: .5em;
    }
  }
}

/* Navigation */
.chk-nav-toggle {
  position: absolute;
  visibility: hidden;
}
.nav-toggle {
  position: absolute;
  top: 14px;
  left: 14px;

  opacity: 0.6;
  cursor: pointer;
  z-index: 100;

  @media only screen and (min-width: $desktop-min) {
    display: none;
  }

  .icon {
    fill: none;
    width: 32px;
    height: 32px;
    stroke: $heading-fg;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-width: 2px;
  }
  &:hover, &:focus, .chk-nav-toggle:checked ~ & {
    opacity: 1;
  }
}

.nav-dismiss {
  position: absolute;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;

  visibility: hidden;
  background-color: #fff;
  opacity: 0.8;

  z-index: 90;

  .chk-nav-toggle:checked ~ & {
    visibility: visible;
  }
}

.navbar {
  position: absolute;
  visibility: hidden;

  font-size: 14px;
  width: 100%;
  max-height: 85vh;
  overflow-y: auto;

  @media only screen and (min-width: $desktop-min) {
    position: static;
    visibility: visible;
    margin-top: $spacer * -4;
    margin-bottom: $spacer * 2;
    height: $spacer * 2;
  }

  z-index: 1001;

  p {
    margin: 0;
    margin-bottom: 15px;
    padding: 0 15px;
  }
  .navbar-title {
    margin: 10px 0 0;
    color: $heading-fg;
    font-weight: bold;
  }
  .chk-nav-toggle:checked ~ & {
    visibility: visible;
  }
}
.navbar-nav {
  margin-bottom: 15px;
  @media only screen and (min-width: $desktop-min) {
    width: 768px;
    margin: 0 auto;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  a {
    box-sizing: border-box;
    @media only screen and (min-width: $desktop-min) {
      float: left;
      height: $spacer * 2;
    }
    display: block;
    padding: 5px 15px;
    line-height: $spacer * 2 - 10px;
    color: inherit;
    text-decoration: none;
    &:hover, &:focus {
      color: #000;
    }
    &.active {
      background-color: $active-bg;
      background: transparent linear-gradient(to right, $active-bg, transparent);
      color: #fff;
      @media only screen and (min-width: $desktop-min) {
        background: #fff;
        color: #000;
      }
    }
  }
}

/* Archive */
.archive {
  color: $body-fg;
  margin-bottom: $spacer * 4;

  .year {
    list-style: none;
    padding-left: 0;
    @media only screen and (max-width: $desktop-max) {
      padding: 0 $spacer;
    }
    li {
      position: relative;
      a {
        position: absolute;
        left: 60px;
        right: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .excerpt {
    margin-left: 60px;
    font-size: 12px;
    @media only screen and (max-width: $desktop-max) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  h2 {
    @media only screen and (max-width: $desktop-max) {
      margin: 0 $spacer;
    }
  }
}

/* Utilities */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.page-about amp-img,
.page-about img {
  display: block;
  margin: 0 auto 15px;
  width: 210px;
  height: 210px;
  background-color: $post-bg;
  border-radius: 50%;
  @media only screen and (max-width: $desktop-max + ($spacer * 2)) {
    max-width: 135px;
    max-height: 135px;
  }
}

/* Syntax highlighting */
@import 'syntax-github';
