@import "tailwindcss";

@plugin "@tailwindcss/typography";

@layer components {
  pre.astro-code {
    --astro-code-foreground: var(--color-zinc-100);
    --astro-code-background: var(--tw-prose-pre-bg);
    --astro-code-token-keyword: var(--color-sky-400);
    --astro-code-token-function: var(--color-yellow-100);
    --astro-code-token-punctuation: var(--color-zinc-400);
    /* Currently unused: */
    --astro-code-token-variable: var(--color-sky-200);
    --astro-code-token-class-name: var(--color-teal-400);
  }
}
