.img-responsive-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 10 / 16 * 100%;
  & > p {
    margin: 0;
  }
  & + &,
  & + p {
    margin-top: 1rem;
  }
}
.img-ratio-16-9 {
  padding-bottom: 9 / 16 * 100%;
}
.img-ratio-16-10 {
  padding-bottom: 10 / 16 * 100%;
  @include media-breakpoint-up(lg) {
    // Scale to 720px width on desktop, resulting in 450px@2x images
    padding-bottom: 70.3135%;
    margin-left: -6.25%;
    margin-right: -6.25%;
  }
}
.img-ratio-4-3 {
  padding-bottom: 3 / 4 * 100%;
}
.img-ratio-1-1 {
  padding-bottom: 100%;
}
