// Brand colors
$blue: #3498db;

$link-color: darken($blue, 5%);

// Simplified narrow grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px
);

// Simplified Typography
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Cantarell, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-weight-bold: 600;
$headings-font-weight: 300;
$lead-font-weight: 400;

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base * .85;
