---
layout: default
---
<div class="post page mb-3 mb-sm-5 mt-2 mt-sm-3">
  <h1 class="page-title sr-only">{{ page.title }}</h1>
  <video class="mx-auto d-block" style="width: 240px; height: 240px;"
    poster="https://blog.phpizza.com/assets/profile/memoji-poster-low.jpg" muted autoplay playsinline loop>
    <source src="https://blog.phpizza.com/assets/profile/memoji-1.m4v" type="video/mp4">
    <img src="https://blog.phpizza.com/assets/profile/memoji-poster-low.jpg">
  </video>

  <nav class="nav nav-pills justify-content-center mb-3 mb-sm-4">
    <a class="nav-link {% if page.url == '/about/' %}active{% endif %}" href="/about/" lang="en">
      English {% if page.url == '/about/' %}
      <span class="sr-only">(current)</span>{% endif %}
    </a>
    <a class="nav-link {% if page.url == '/about-es/' %}active{% endif %}" href="/about-es/" lang="es">
      Español {% if page.url == '/about-es/' %}
      <span class="sr-only">(current)</span>{% endif %}
    </a>
    <a class="nav-link {% if page.url == '/about-ja/' %}active{% endif %}" href="/about-ja/" lang="ja">
      日本語 {% if page.url == '/about-ja/' %}
      <span class="sr-only">(current)</span>{% endif %}
    </a>
  </nav>

  <div class="post-content">
    {{ content }}
  </div>
</div>
