@media print {
  @page {
    margin: 1in;
  }
  body {
    @apply p-0;
  }
  .site-header {
    display: none !important;
  }

  section, ul {
    page-break-inside: avoid;
  }

  .resume h3 {
    @apply mt-8 mb-2;
  }

  .print\:hidden {
    display: none !important;
  }
  .container {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  a.print-link::after {
    content: ' \2014 ' attr(href);
    @apply text-teal-700;
  }
}
