@media print {
  @page {
    margin: .7in 1in;
  }
  body {
    @apply p-0;
  }
  .site-header {
    @apply hidden;
  }

  section, ul {
    page-break-inside: avoid;
  }

  .resume h3 {
    @apply mt-8 mb-2;
  }

  .print\:hidden {
    @apply hidden;
  }
  a.print-link::after {
    content: ' \2014 ' attr(href);
    @apply text-teal-700;
  }
}
