/* https://css-tricks.com/snippets/css/fluid-typography/ */
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

body {
  @apply text-sm;
}
p {
  @apply mb-4;
}

h1, h2, h3 {
  @apply text-gray-900 font-light font-headings;
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

@screen sm {
  body {
    @apply text-base;
  }
}

@screen md {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
}

.text-muted {
  @apply text-gray-700;
}

@media (prefers-color-scheme: dark) {
  h1, h2, h3 {
    @apply text-ngray-100;
  }
  .text-muted {
    @apply text-ngray-300;
  }
}
