.img-responsive-container {
  @apply relative h-0 rounded;
  padding-bottom: calc(10 / 16 * 100%);
}
.img-responsive-container > p {
  @apply m-0;
}
.img-responsive-container + .img-responsive-container,
.img-responsive-container + p {
  @apply mt-4;
}

.img-ratio-16-9 {
  padding-bottom: calc(9 / 16 * 100%);
}
.img-ratio-16-10 {
  padding-bottom: calc(10 / 16 * 100%);
}
.img-ratio-4-3 {
  padding-bottom: calc(3 / 4 * 100%);
}
.img-ratio-1-1 {
  padding-bottom: 100%;
}
